# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/Proyecto DWES/Proyecto Tema7/LoginPoo-MVC-WS/
/Proyecto DWES/
/Proyecto DWEC/
/Images/
